{
  "extends": ["eslint:recommended", "plugin:react/recommended", "airbnb"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "import",
    "promise",
    "compat",
    "react"
  ],
  "settings": {
    "import/resolver": {
      "babel-module": {  }
    },
    "import/extensions": [".js", ".jsx"],
    "react": {
      "version": "15.3.2"
      // React version, default to the latest React stable release
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "globals": {
    "test": true,
    "expect": true
  },
  "rules": {
    "no-console": 0,
    "no-alert": 0,
    "arrow-body-style": 0,
    "import/prefer-default-export": 0,
    "max-len": [1, { "code": 120, "ignoreComments": true, "ignoreUrls": true }],
    "arrow-parens": ["off"],
    "compat/compat": 2,
    "consistent-return": "off",
    "comma-dangle": "off",
    "generator-star-spacing": "off",
    "import/no-unresolved": ["error", { "ignore": ["electron"] }],
    "import/no-extraneous-dependencies": "off",
    "no-use-before-define": "off",
    "promise/param-names": 2,
    "promise/always-return": 2,
    "promise/catch-or-return": 2,
    "promise/no-native": 0,
    "react/jsx-no-bind": "off",
    "react/react-in-jsx-scope": 0,
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": "off",
    "react/forbid-prop-types": [
      "error",
      {"forbid": ["any"]}
    ],
    "key-spacing": [
      2,
      {
        "singleLine": {
          "beforeColon": false,
          "afterColon": true
        },
        "multiLine": {
          "beforeColon": false,
          "afterColon": true,
          "align": "value"
        }
      }
    ],
    "no-multi-spaces": [
      0,
      {
        "exceptions": {
          "VariableDeclarator": true
        }
      }
    ]
  }
}

