$dp-styles-font-path: "~@deskpro/react-components/src/styles/fonts/";
@import "~@deskpro/react-components/src/styles/main.scss";

.dp-jira-container {

  ul.dp-list {
    padding: 0;
  }
}

.dp-issue-card {

  &__summary {
    word-break: normal;
    vertical-align: top;
    margin: 0;
  }

  &__issue-type {
    vertical-align: middle;
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }

}

.issue-card {

  display: flex;

  margin-bottom: 5px;

  margin-right: 20px;

  &__header {
    vertical-align: top;
    width: 60px;
  }

  &__body {
    flex: 1;
    word-break: normal;
    vertical-align: top;
    margin: 0;
  }

  &__type {
    height: 20px;
    width: 20px;
  }

  &__title {
    margin:0;
  }

  &__action {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
  }

  &__action--inactive {
    color: #dddddd;
  }

}


