/* FORM styles */

.dp-form-group {
  margin-top: 1em;
}

.dp-form-group__error {
  color: red;
}

input.dp-datepicker,
input.dp-input,
.dp-input input,
.dp-textarea textarea
{
  padding: .5em 0.5em .5em .5em;

  box-sizing: border-box;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
}

input.dp-datepicker,
.dp-input input,
.dp-textarea textarea{
  width: 100%;
}

.dp-form-controls {
  display: flex;
}

.dp-form-control {
  flex: 1;
  text-align: center;
}

.dp-form-control + .dp-form-control {
  margin-left: 1em;
}

/* FORM styles */

.dp-hidden-fields__body {
  display: none;
}

.dp-hidden-fields__label {
  cursor: pointer;
  border: 0;
  padding: 0;
  display: inline-block;
  background-color: transparent;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-transform: UPPERCASE;
  text-decoration: none;
}

.dp-hidden-fields--open .dp-hidden-fields__body {
  display: block;

}

/** APP STYLES **/

.dp-spacer {
  margin-bottom: 1em
}

.dp-Panel + .dp-Panel {
  margin-top: 1em;
}

/* BUTTONS */

.dp-Button--wide {
  text-align: center;
  width: 100%;
}
